*{
  font-family: 'Kanit', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: round;
  font-family: sans-serif;
  background: #0a6794;
  background-image: radial-gradient(
      50% 30% ellipse at center top,
      #2a6990 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(60% 50% ellipse at center bottom, #6fc6f0 0%, #0a6794 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

#nav{
  width: 320px;
  margin-top: 0;
  height: 55px;
  margin-top: inherit;
  background:rgba(0, 0, 0, 0);
  position: fixed;
  padding-top: 0px;
}

table{
  width: 100%;
  padding : 20px;
  padding-top: 60px;
}

button{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;  
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  background-color: #6d6a6d;
  border-color: #6d6a6d;
  color:white;
}

#nim{
  text-align: center
}

#inputLabel{
  height: 80px;
  font-size: 40px;
  vertical-align: bottom;
  text-align: right;
  background-color: rgba(52, 73, 94,5.0);
  border-radius: 10px;
}

.calculator{
  width: 320px;
  height: 480px;
  border-radius: 10px;
  background:rgba(0,0,0,0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

.ops{
  background-color: #3498db;
  border: none;
}